main {
    display: flex;
}

/* LIST GOALS */
#list-goals {
    align-items: center;
}

/* CALENDAR */

#calendar {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.date-calendar { 
    display: flex;
    flex-direction: column;
    width: 150px;
    min-height: 150px;
    padding: 8px;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
    border: 1px solid cyan;
    border-radius: 5px;
}

.date-calendar hr {
    width: 100%;
    height: 1px;
    color: gray;
    margin: 0;
}

/* WINDOWS */
::backdrop {
    background-color: black;
    opacity: 0.5;
}

/* We center every dialog */
dialog {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--bulma-body-background-color);
}