:root {
    --pink: #F9B9F2;
    --violet: #820B8A;
    --yellow: #FAFF7F;
    --light-blue: #BCF4F5;
    --height-tube: 400px;
    --height-color-tube: 100px;
}

#game {
    flex-wrap: wrap;
}

.tube {
    display: flex;
    flex-direction: column;
    height: var(--height-tube);
    width: 200px;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    clip-path: border-box;
    margin: 50px;
    background-color: white;
    cursor: pointer;
    justify-content: flex-end;
}

.tube.selected {
    margin-top: 0px;
}

.tube-color {
    height: var(--height-color-tube);
}