@import "https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.0/css/bulma.min.css";
@import './fontawesome/css/all.min.css';
@import './FlexIt.css';
@import './calendar.css';
@import './windows.css';
@import './navbar.css';

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-width: 80%;
    text-align: center;
}